<div class="page-header">
  <%= link_to events_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_event_path(@event), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing events</h1>
</div>

<dl>
  <dt>Event:</dt>
  <dd><%= @event.event_id %></dd>

  <dt>Title:</dt>
  <dd><%= @event.title %></dd>

  <dt>Description:</dt>
  <dd><%= @event.description %></dd>

</dl>
